body {
  cursor: none;
}

.container {
    display: grid;
    grid-template-columns: 14rem 1fr 14rem;
    grid-template-rows: max-content 1fr 4fr max-content;
    grid-template-areas:
        "header header header"
        "a b c"
        "d e f"
        "footer footer footer";
    height: 100%;
    width: 100%;
}

.content  {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.copyrightCursor {
    grid-area: 2 / 1 / 4 / 4;
}

@media (max-width: 90rem) {
    .content  {
        grid-area: 3 / 2 / 4 / 4;
        justify-content: flex-start;
    }
}

.office {
    max-width: 42rem;
    flex-basis: 30rem;
    flex-grow: 1;
}

.links {
    min-width: min-content;
    max-width: min-content;
    flex-basis: min-content;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: 5rem;
}

.gridA {
    grid-area: a;
}

.gridB {
    grid-area: b;
}

.gridC {
    grid-area: c;
}

.gridD {
    grid-area: d;
}

.gridE {
    grid-area: e;
}

.gridF {
    grid-area: f
}