.container {
    display: grid;
    grid-template-columns: 10rem 1fr 10rem;
    grid-template-rows: max-content 1fr 4fr max-content;
    grid-template-areas:
        "header header header"
        "a b c"
        "d e f"
        "footer footer footer";
    height: 100%;
    width: 100%;
}

.content  {
    grid-area: 3 / 2 / 4 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@media (max-width: 79rem) {
    .content  {
        grid-area: 3 / 2 / 4 / 4;
        justify-content: flex-start;
    }
}

.gridA {
    grid-area: a;
}

.gridB {
    grid-area: b;
}

.gridC {
    grid-area: c;
}

.gridD {
    grid-area: d;
}

.gridE {
    grid-area: e;
}

.gridF {
    grid-area: f
}

.pitches {
    margin: 1rem;
    max-width: 27.5rem;
    flex-basis: 27.5rem;
    flex-grow: 1;
}

.contactForm {
    margin: 1rem;
    min-width: 10rem;
    max-width: 27.5rem;
    flex-basis: 27.5rem;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: 5rem;
    display: none;
}


.contactForm.active, .pitchContainer.active {
    display: block;
}

/* Customize the label (the container) */
.checkboxContainer {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  max-width: 24rem;
  cursor: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
  opacity: 0;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 4px;
    left: 4px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    outline: 1px solid black;
}

p.checkboxLabel {
    position: relative;
    left: 1rem;
    margin: 0;
}

/* On mouse-over, add a black background color */
.checkboxContainer:hover .checkmark {
  background-color: black;
}

.pitchContainer {
    position: relative;
    display: none;
}

.checkboxContainer.checked .checkmark, .pitchContainer .checkmark {
  position: absolute;
  background-color: black;
}

hr {
    width: 100%;
    margin-block-start: 0;
    margin-bottom: 16px;
}

label {
    display: flex;
    align-items: stretch;
    cursor: none;
}

input, textarea {
    border-style: none;
    background-color: #FAFFE4;
    font-family: 'AKZIDENZ GROTESK', monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: black;
    background-color: #FAFFE4;
    margin: 0;
}

input {
    margin-left: .25rem;
}

textarea {
    resize: none;
    width: 100%;
    min-height: 5rem;
}

::placeholder {
  color: #999999;
  opacity: 1; /* Firefox */
  background-color: #FAFFE4;
}

#message1 {
    margin-bottom: .7rem;
}

#message2 {
    margin-top: 1.2rem;
    margin-bottom: 1.45rem;
}