.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: max-content 1fr 4fr max-content;
    grid-template-areas:
        "header header header"
        "p p p"
        "p p p"
        "footer footer footer";
    height: 100%;
    width: 100%;
}

.content  {
    grid-row: 2 / span 2;
    grid-area: p;
    pointer-events: none;
    width: 100%;
}

.flickity-viewport {
    height: 100% !important;
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: none;
}

.product {
    width: 15vw;
    margin-top: 10rem;
    padding-left: 1rem;
    max-height: 100%;
    pointer-events: all;
}

.product.open {
    width: auto;
    max-width: 80vw;
    height: max-content;
    max-height: 100%;
    margin-top: 0;
}

.product img:hover {
    pointer-events: auto;
    opacity: 100%; 
    filter: grayscale(0);
}

.product img {
    width: 100%;
    opacity: 60%;
    filter: grayscale(1);
    mix-blend-mode: multiply;
    pointer-events: auto;
    flex-grow: 1;
}

.product p {
    grid-area: "caption";
    display: none;
    margin: 0;
    margin-top: 1rem;
}

.product.open img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - 10rem);
    opacity: 100%; 
    filter: grayscale(0);
    object-fit: contain;
}

.product.open p {
    display: block;
}

.leftArrowArea {
    grid-row: 2 / span 2;
    grid-column: 1 / span 1;
}

.rightArrowArea {
    grid-row: 2 / span 2;
    grid-column: 3 / span 1;
}

.centerArea {
    grid-row: 2 / span 2;
    grid-column: 2 / span 1;
}

.flickity-prev-next-button {
    display: none;
}