.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: max-content 1fr 4fr max-content;
    grid-template-areas:
        "header header header"
        ". . ."
        "w1 w2 w3"
        "footer footer footer";
    height: 100%;
    width: 100%;
}

.content {
    grid-row: 3 / span 1;
}